head {
    display: none;
} /* Ensure that head section does not get displayed */

h1 {
    font-size: 5em;
    font-family: 'Baskerville', serif;
    margin: 0 0 5px;
    padding-top: 1%;
    font-weight: lighter;
} /* Header font, size, alignment */

h2 {
    font-weight: initial;
} /* Make sure that the font isn't bold */

hr {
    margin-top: 15px;
} /* Margin of Horizontal Line */

body {
    text-align: center;
    background: #d7ebff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
    font-family: 'Baskerville', serif;
} /* Alignment of Body */

.website-links a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
} /* Editing display of links to within website */

.website-links a:hover {
    color: rgb(96, 133, 237);
} /* Colour of links upon hover */

.nicole {
    color: #37a8e1;
    text-decoration: none;
} /* Nicole Turkey Links */

.nicole:hover {
    color: rgb(96, 133, 237);
} /* Nicole Turkey Link Colour upon hover */

#intro-photo {
    width: 500px;
    border: 5px rgb(149, 174, 243) solid;
    border-radius: 30px;
} /* Border and width of first image */

#intro-photo:hover {
    border-color: rgb(96, 133, 237);
} /* Intro Photo upon hover */

.column {
    display: flex;
} /* Displaying gallery image and list side by side */

.gallery {
    flex: 1;
    padding-left: 10px;
} /* Displaying gallery image and list side by side */

.list {
    flex: 1;
    margin-left: 20px;
} /* Displaying gallery image and list side by side */

ul {
    list-style-position: outside;
    margin-left: 0;
    text-align: center;
    padding-left: 140px;
} /* Unordered list styling */

li {
    margin-left: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
    width: max-content;
} /* List content styling */

.img-links {
    text-decoration: none;
} /* No Text Decoration for the links that are images */

.photo-row {
    display: inline-block;
    width: 30%;
    margin: 1%;
} /* Three images in a row display */

.photo-row img {
    border: 5px rgb(149, 174, 243) solid;
    border-radius: 30px;
} /* Borders of images themselves */

.photo-row img:hover {
    border-color:rgb(96, 133, 237);
} /* Border colour change upon hover for images */

.photo-row p {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
} /* Paragraphs under images display */

figcaption {
    margin-top: 10px;
    font-size: larger;
} /* Figure caption styling  */

#store img {
    width: 100%;
} /* Ensures normal width of images */

.centre {
    width: 960px;
    margin: 0px auto;
    background: rgb(245, 247, 254);
    padding: 0 45px 20px;
} /* Alignment of middle white space with content */

.container {
    margin-top: 0px;
    display: flex;
}
.map {
    flex: 1;
}

#conclusion p {
    margin-bottom: 0px;
} /* Zero margin on bottom of conclusion paragraph */

iframe {
    border-radius: 30px;
} /* iframe border softening */

iframe:hover {
    border-color:rgb(96, 133, 237) !important;
} /* iframe border colour upon hover - need !important otherwise doesn't work */

.form {
    flex: 1;
    margin-left: 20px;
} /* Alignment of Form Column */

::placeholder {
    color: #d3d2d2;
    font-family: 'Baskerville', serif;
} /* Placeholder text within form */

form {
    text-align: center;
} /* Align text within form in the center of form */

input[type="text"],
input[type="email"],
input[type="submit"] {
  display: block;
  margin: 0 auto;
} /*Ensure inputs take up one line */

label {
    display: block;
  } /* Ensure labels take up one line */

#home-button {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
} /* Link to take to top of page */

#home-button:hover {
    color: rgb(96, 133, 237);
} /* Link to take to top of page upon hover */

.feet {
    font-size: 0.8em;
    text-align: right;
} /* Footer text sizing and alignment */