head {
    display: none;
} /* Ensure that head section does not get displayed */

h1 {
    font-size: 5em;
    font-family: 'Baskerville', serif;
    margin: 0 0 5px;
    padding-top: 1%;
} /* Header font, size, alignment */

body {
    text-align: center;
    background: #d7ebff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
    font-family: 'Times New Roman', serif;
}

.nicole {
    color: #37a8e1;
    text-decoration: none;
} /* Nicole Turkey Links */

.nicole:hover {
    color: rgb(93, 133, 245);
} /* Nicole Turkey Link Colour upon hover */

#intro-photo {
    width: 930px;
    border: 5px rgb(149, 174, 243) solid;
} /* Border and width of first image */

#intro-photo:hover {
    border-color: rgb(93, 133, 245);
} /* Intro Photo upon hover */

.img-links {
    text-decoration: none;
}

.photo-row {
    display: inline-block;
    width: 30%;
    margin: 1%;
    border: 5px rgb(149, 174, 243) solid;
}

.photo-row:hover {
    border-color: rgb(93, 133, 245);
}

#store img {
    width: 100%;
}

.centre {
    width: 960px;
    margin: 0px auto;
    background: #ffffff;
    padding: 0 45px 20px;
} /* Alignment of middle white space with content */

.feet {
    font-size: 0.8em;
    text-align: right;
} /* Footer text sizing and alignment */